html, body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 font-family: calibri;
}

/* to center vertically */

.outer {
  display: table;
  height: 100%;
  width: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
}

#main {
  display: table;
  margin: 0 auto;
}
.mytables {
  border-collapse: collapse;
}
.mytables td {
  border: 1px solid #ddd;
  padding: 1vh;
  width: 35vw;

}
.desc {
  height: 15vh;
}
#img-container {
 height: 70vw;
}
#myimage {
  display: block;
  margin: 0 auto;
  width: 65vw;
  max-height: 65vw;
}
#mybutton {
 width: 60px;
 height: 60px; 
 background-color: #c2d1f0;
 border: 3px solid #4775d1;
 border-radius: 50%;
 color: #4775d1;
 font-weight: bold;
}
#mybutton:hover, #mybutton:active { 
 background-color: #99b3e6;
 border: 3px solid #2952a3;
 color: #2952a3;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


